@{
    ViewData["Title"] = "Dividir";
}

<h1>Dividir</h1>

<form action="/OperacoesMatematicas/ResultadoDivisao" method="post">

    <label for="n1">Número 1</label>
    <input type="text" id="n1" name="n1">

    <label for="n2">Número 2</label>
    <input type="text" id="n2" name="n2">

    <input type="submit" value="Dividir">
    
</form>